.completed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* This keeps the button and other elements centered horizontally */
    height: 100vh;
    position: relative;
    text-align: center;
  }
  
  .completed-container h1 {
    margin-top: 15vh; /* Adjusts vertical spacing for the h1 */
  }
  
  .completed-container p {
    margin-top: 5vh; /* Adjusts spacing between the h1 and p */
    font-size: 1.5rem;
  }
  
  .completed-container button {
    margin-top: 10vh; /* Adjusts vertical spacing for the button */
    padding: 10px 20px;
    background-color: #f5b041;
    color: #1f4068;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    top: 40vh;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .completed-container button:hover {
    background-color: #ffd700;
    box-shadow: 0 0 20px #ffd700;
  }
  