.completed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* This keeps the button and other elements centered horizontally */
    height: 100vh;
    position: relative;
    text-align: center;
  }
  
  .completed-container h1 {
    margin-top: 15vh; /* Adjusts vertical spacing for the h1 */
  }
  
  .completed-container p {
    margin-top: 5vh; /* Adjusts spacing between the h1 and p */
    font-size: 1.5rem;
  }
  
  