/* Import Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Body */
body {
  font-family: 'Lato', sans-serif;
  color: #f5f5f5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: 
  radial-gradient(circle at 80% 20%, rgba(255, 0, 255, 0.2), transparent 50%),
  radial-gradient(circle at 50% 80%, rgba(255, 255, 0, 0.1), transparent 60%),
  radial-gradient(circle at 50% 50%, rgba(128, 0, 128, 0.2), transparent 60%),
  linear-gradient(180deg, #000000 0%, #000000 50%, #0a1215 75%, #0e1b20 100%);}


/* Main container styling */
.App {
  text-align: center;
  padding: 20px;
}

h1, h2, label, a, button, input, li {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lora', serif; 
  color: #f5f5f5; 
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5); 
  font-size: 1.2rem; 
  line-height: 1.6; 
  margin: 0 0 20px 0; 
  max-width: 800px; 
  text-align: center; 
  padding: 10px 20px; 
}

h1, h2 {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/* Links */
a {
  color: #f5b041;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ffdf00;
  text-shadow: 0 0 5px rgba(255, 223, 0, 0.8);
}

/* Buttons */
button {
  background-color: #1f4068;
  color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #f5b041;
  box-shadow: 0 0 20px #ffd700;
  color: #1f4068;
}

label {
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

/* Form fields */
input {
  padding: 10px;
  border-radius: 10px;
  background-color: #203a43;
  color: #f5f5f5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #ffd700;
}

/* Styling for starry list items */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #203a43;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

html {
  scroll-behavior: smooth;
}

/* Page transition */
.page-enter {
  transform: translateY(100%); /* Page starts from the bottom */
  opacity: 0;
}
.page-enter-active {
  transform: translateY(0); /* Slide in to normal position */
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.page-exit {
  transform: translateY(0); /* Start from normal position */
  opacity: 1;
}
.page-exit-active {
  transform: translateY(-100%); /* Slide out towards the top */
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.page {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
